<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Game View Editor"
            extensions="view"
            icon="icons/sample.gif"
            contributorClass="com.xy.xeditor.editors.GameViewEditorContributor"
            class="com.xy.xeditor.editors.GameViewEditor"
            id="com.xy.xeditor.editors.GameViewEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="XEditor"
            id="com.xy.xeditor">
      </category>
      <wizard
            name="Game View File"
            icon="icons/sample.gif"
            category="com.xy.xeditor"
            class="com.xy.xeditor.wizards.GameViewWizard"
            id="com.xy.xeditor.wizards.GameViewWizard">
      </wizard>
   </extension>

</plugin>
